<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/Tamvan.jpg" class="w-25 img-thumbnail rounded-circle" alt="Andri Adam">
      <h1 class="display-4">Andri Adam</h1>
      <p class="lead">Mahasiswa | Wiraswasta</p>
    </div>
  </div>
</div>